html {
    height: 100%;
    background-color: rgb(20, 18, 3);
}
body {
    height: 97%;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 20%;
    background-color: rgb(20, 18, 3);
}
header div {
    flex: 1;
    position: relative;
}
#timer {
    color: white;
}
#board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 5px;
    min-height: 80%;
    background-color: black;
}
#board > div {
    position: relative;
    min-height: 100px;
    min-width: 100px;
    background-color: rgb(48, 43, 17);
}
#board > div:hover {
    background-color: rgb(71, 63, 21);
}
#board > div > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    user-select: none;
    color: rgb(136, 115, 9);
    font-weight: bold;
}