html {
    background-color: rgb(20, 18, 3);
}
body {
    max-width: 1000px;
    margin: 0 auto;
}
header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    background-color: rgb(48, 43, 17);
}
header p {
    color: white;
    font-size: 1.50rem;
    font-weight: bold;
    line-height: 0;
}

/* Game board and board pieces */
#board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 5px;
    padding: 5px;
    margin: 0 auto;
    justify-content: center;
}
#board > div {
    position: relative;
    height: 100px;
    width: 100px;
    background-color: rgb(48, 43, 17);
}
#board > div:hover {
    background-color: rgb(71, 63, 21);
}
#board > div > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    user-select: none;
    color: rgb(136, 115, 9);
    font-weight: bold;
}

/* Options dialog */
#options {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
}
#options > div {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    height: 200px;
    width: 300px;
    margin: auto;
    background-color: rgba(20, 18, 3, 0.8);
    border: 2.5px solid rgb(136, 115, 9);
    border-radius: 1em 1em;
}
#options #newgameopt {
    position: absolute;
    top: 25%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -25%);
    color: white;
    font-weight: bold;
}
#options #newgameopt #msg {
    display: none; /* So new game options can be displayed initially on page load */
}
#options #newgame {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: rgb(136, 115, 9);
    background-color: rgb(48, 43, 17);
    border: none;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 10px;
}
#options #newgame:hover {
    background-color: rgb(71, 63, 21);
}