html {
    background-color: rgb(20, 18, 3);
}
body {
    max-width: 1000px;
    margin: 0 auto;
}
header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}
header span {
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
}
#newgame {
    color: rgb(136, 115, 9);
    background-color: rgb(48, 43, 17);
    border: none;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 10px;
}
#newgame:hover {
    background-color: rgb(71, 63, 21);
}
#board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 5px;
    padding: 5px;
    margin: 0 auto;
    justify-content: center;
}
#board > div {
    position: relative;
    height: 100px;
    width: 100px;
    background-color: rgb(48, 43, 17);
}
#board > div:hover {
    background-color: rgb(71, 63, 21);
}
#board > div > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    user-select: none;
    color: rgb(136, 115, 9);
    font-weight: bold;
}